# VCS / OS
.git
.gitignore
.DS_Store

# Python
venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

# Node / Front
node_modules/
frontend/

# 런타임 산출물/큰 파일
results/
*.mp4
*.jpg
*.jpeg
*.png
*.webp
*.npy
*.pt

# 빌드 산출물
dist/
build/